[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = bryant-the-coder
	email = foobryant99@gmail.com
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJoHMfGDSt8lKaxyxULk87kFOGXobhcT8wggjk/OaMB9 bryantfoo99@gmail.com
[color]
	ui = true
[core]
	editor = nvim
    pager = delta

[alias]
    master = !git fetch upstream && git merge upstream/master
    main = !git fetch upstream && git merge upstream/main
    empty = !git add -A && git commit -m "empty" --allow-empty && git push
	pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[init]
    defaultBranch = main

[delta]
  line-numbers = true
  syntax-theme = Catppuccin-mocha
  side-by-side = false

  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only

##### Github specific
[github]
	user = bryant-the-coder
# read from given uri
# push to writable one
[url "https://github.com/"]
	insteadOf = "gh:"

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "http://github.com/"
	pushInsteadOf = "gh:"

[credential]
    helper = store
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
[gpg]
	program = gpg
    format = ssh

