.config/nvim/plugin/packer_compiled.lua
.config/zsh/.zcompdump-fedora-5.8.1
.config/zsh/.zcompdump-fedora-5.8.1.zwc
.config/zsh/.zcompdump-hann-5.8.1
.config/zsh/.zcompdump-hann-5.8.1.zwc
.config/zsh/.zcompdump-kiyotaka-5.8.1.zwc
.config/zsh/.zcompdump-dev-5.8.1.zwc
.config/wallpaper/
.config/lazygit/state.yml
.config/nvim/
.config/tmux/plugins
