/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/


* {
    background:     #1b2124;
    background-alt: #5a5a58;
    foreground:     #dad0bc;
    selected:       #83c092;
    active:         #83c092;
    urgent:         #e67e80;
}
